astroid==2.5.6
bitstring==3.1.9
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==36.0.1
ecdsa==0.17.0
esptool==3.2
Flask==2.0.1
future==0.18.2
gunicorn==20.1.0
httplib2==0.19.1
idna==2.10
iso8601==1.0.2
isort==5.8.0
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
pigpio==1.78
pycparser==2.21
pylint==2.8.2
pyparsing==2.4.7
pyserial==3.5
PyYAML==6.0
reedsolo==1.5.4
requests==2.25.1
serial==0.0.97
six==1.16.0
textmagic==2.0.3
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
