@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Raleway-SemiBold; */
 
}
 
body{
  width: 100%;
  /* height: 100vh; */

}

.navbar{
  display: flex;
  color: rgba(0, 0, 0, 0.596);
  /* width: 100%;
  height: 90px;  */
}

.logo{
  display: flex;
  /* background-color: #007bff18; */
  padding: 5px;
}

.logo_image{
  background-color: #007bff;
}

.logo_text{
  font-size: larger;
  font-weight: bold;
  margin-left: 6px;
}

.buttons{
  display: flex;
  justify-content:right;
  padding: 2px;
}

.login, .register{
  border-radius: 10px;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 4%;
  width: 139px;
  height: 42px;
  background-color:#007bff96 ;
}

.login{
  margin-right: 12%;
}

.login a, .register a{
  text-decoration: none;
  /* color: #007BFF; */
  z-index: 1000 ;
  /* padding-left: 4px; */
  
}

.login:hover, .register:hover{
  background-color:#007bff;
  cursor: pointer;
  /* transform: translate(2px,2px); */
}

.toptext{
  text-align: center;
}

.shapes{
  height: 55vh;
  /* background: #000; */
  display: flex;
  justify-content: end;

}

.shape1{
  width: 50%;
  height: 100%;
  background-image: url("../images/svg/shape1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
}

.shape2{
  width: 50%;
  height: 100%;
}

.shape22{
  width: 50%;
  height: 95%;
  background-image: url("../images/svg/shape2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.screenshot{
  width: 70%;
  height: 53vh;
  position: absolute;
  top: 20vh;
  left: 15%;
  background-image: url("../images/Screenshot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid black;
  box-shadow: 8px 8px black;
}
 
.function_block{
  height: 150%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.function_heading{
  text-align: center;
  font-weight: bolder;
  margin: 7px 0;
}


.slide{
  width: 100%;
  height: 50vh;
  /* background: #007bff4d; */
  margin: 10px auto;
  
}

/* .carousel-inner {
  height: 40vh;
  display: flex;
  justify-content: center;
  background: #007bff;
  
} */

.carousel-item{
  margin: 0 25%;
}

.function{
  height: 40vh;
  width: 750px;
  display: flex;

  /* background: #007bff; */
}

 .image{
  width: 50%;
  height: 100%;
  /* background: red; */
}

.text{
  width: 50%;
  height: 100%;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;

}


.image img{
  height: 100%;
  width: 100%;
}


.footer{
  width: 100%;
  margin-top: 20px;

}

footer .foot{
  line-height: 0;
  font-weight: bolder;
  text-align: center; 
  
}




