<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    </head>
    <body>
        <header>
            <div class="heading_text">
                <p>Reach us &#128512;</p>
            </div>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <div class="details">
            <div class="Enoch">
                <pre><p> Enoch Sem</p>
                    <p> phone: 0554317909</p>
                    <p> github: <a href="#"></a></p>  
                    <p> linkedIn: <a href="#"></a></p>
                    <p> email: <a href="#">enochse@gmail.com</a></p>
                </pre>
                
            </div>
            <div class="Ann">
                <pre><p> Ann Opare-Akonor</p>
                    <p> phone: 0265221022</p>
                    <p> github: <a href="#"></a></p>
                    <p> linkedIn: <a href="#"></a></p>
                    <p> email:<a href="#">opareann215@gmail.com</a></p>
                </pre>
                
            </div>
        
        </div>
    </body>
