{% extends "base.html" %}

{% block headscript %}

{% endblock %}



{% block body %}

<div class="container-fluid">
    <div class="row">

        <div class="col ">
            <div class="card shadow-sm py-2 mb-1 rounded borderLeft borderbottom">
                <div class="card-body">
                    <canvas id="ph"style="width:100%;max-width:600px; height:200px;" ></canvas>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm py-2 mb-1 rounded borderLeft borderbottom">
                <div class="card-body">
                    <canvas id="tubidity"style="width:100%;max-width:600px; height:200px;" ></canvas>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm  py-2 mb-1 rounded borderLeft borderbottom">
                <div class="card-body">
                    <canvas id="myChart" style="width:100%;max-width:600px; height:200px;"></canvas>    
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm  py-2 mb-1 rounded borderLeft borderbottom">
                <div class="card-body">
                    <canvas id="tds" style="width:100%;max-width:600px; height:140px;"></canvas>    
                </div>
            </div>
        </div>

    </div>
    <br>

    <div class="row">

        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm h-100 py-2 rounded borderLeft borderbottom">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Ph Sensor</div>
                            <div class="h5 mb-0 font-weight-bold text-secondary"> 0.0%</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-secondary" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm h-100 py-2 rounded borderLeft borderbottom" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Turbidity Sensor  </div>
                            <div class="h5 mb-0 font-weight-bold text-secondary">0.0%</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-users fa-2x text-secondary" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm h-100 py-2 rounded borderLeft borderbottom">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                               TDS Sensor </div>
                            <div class="h5 mb-0 font-weight-bold text-secondary">0.0%</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-money-bill-alt fa-2x text-secondary"></i>
                            <!-- <i class="fas fa-clipboard  " aria-hidden="true"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm h-100 py-2 rounded borderLeft borderbottom">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                               Temperature Sensor </div>
                            <div class="h5 mb-0 font-weight-bold text-secondary">0.0%</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-money-bill-alt fa-2x text-secondary"></i>
                            <!-- <i class="fas fa-clipboard  " aria-hidden="true"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
