<!DOCTYPE html>
<html>
    <head>
        <title>Remote Sensing Drone Boat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <header>
        <div class="heading_text">
            <p>Welcome to the RSDB Homepage &#128512;</p>
        </div>
        <ul class="nav">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        </header>
        <div class="main">
            <div class="buttons">
                <div class="sign_in_button">
                    <img src="drone.png" alt="drone" height="15px" width="15px">
                    <a href="#"><strong>Sign In</strong></a>
                </div>
                <div class="sign_up_button">
                    <img src="drone.png" alt="drone" height="15px" width="15px">
                    <a href="#"><strong>Sign Up</strong></a>
                </div>  
            </div>
        </div>
        <footer>
        <p>Follow Us</p>
        <ul class="footer_nav">
            <li><a href="#">
                    <img class="facebook" src="facebook-brands.svg" alt="Facebook" width="50px" height="40px" />
                </a>
            </li>
            <li><a href="#">
                    <img class="instagram" src="instagram-brands (1).svg" alt="instagram"  width="50px" height="40px" />
                </a>
            </li>
            <li><a href="#">
                    <img class="twitter" src="twitter-square-brands.svg" alt="twitter"  width="50px" height="40px" />
                </a>
            </li>
            <li><a href="#">
                    <img class="whatsapp" src="whatsapp-square-brands.svg" alt="whatsapp"  width="50px" height="40px" />
                </a>
            </li>
        </ul>
        </footer>
    </body>
</html>
