{% extends "base.html" %}

{% block title %}
{% endblock %}



{% block body %}

<div class="card" style="overflow: auto;">
    <div class="container-fluid">
        <div class="card-body">
            <div class="text-primary text-center">
                <h4>Total Disolved Solids Sensor</h4>
            </div>
            <div id="tb_rapper">
                <table id="tds_sensor" class="display">
                    <thead>
                        <tr>
                            <th>Sensor ID</th>
                            <th>Sensor Data</th>
                            <th>Date</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% if data_lenght > 0 %}
                        {% for tds in range(data_lenght) %}
                        <tr>
                            <td>{{data[tds][2]}}</td>
                            <td>{{data[tds][3]}}</td>
                            <td>{{data[tds][4]}}</td>
                            <td>
                                <form action="" method="POST">
                                    <input type="text" name="delete_id" value="" hidden>

                                    <input   name="submit" value="delete_agent" hidden>
                                    <button class="btn btn-danger" type="submit"><i class="material-icons" >delete_outline</i></button>
                                    
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
