<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    </head>
    <body>
        <header>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li class = "nav_current"><a href = "#"> About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="heading_text">
                <p>Learn more about us</p>
            </div>
        </header>
            <div class = "main">
                <div class = "container_1_header"> OBJECTIVES OF RSDB </div>
                    <div class = "container_1_body">
                        <!-- <div class = "card_1" >To measure some physiochemical properties of water - pH, turbidity,temperature,electrical conductivity - suitable for aquaculture.</div>
                        <div class = "card_2" >to provide real-time analysis of the sensor data and recommend appropriate corrective measures.</div>                
                        <div class = "card_3" >to build a system that can transport and collect data efficiently by means of air or water for better surveillance.</div>
                        <div class = "card_4" >to design a mobile and low cost water quality checker.</div>
                        <div class = "card_5" >to be able to carry out water quality analysis at remote locations. </div>
                        <div class = "card_6" >to eradicate errors and accidents that take place when the data is collected manually. </div> -->

                        <ol>
                            <li><p>To measure some physiochemical properties of water - pH, turbidity,temperature,electrical conductivity - suitable for aquaculture.</p></li>
                            <li><p>To provide real-time analysis of the sensor data and recommend appropriate corrective measures.</p></li>                
                            <li><p>To build a system that can transport and collect data efficiently by means of air or water for better surveillance.</p></li>
                            <li><p>To design a mobile and low cost water quality checker.</p></li>
                            <li><p> To be able to carry out water quality analysis at remote locations.</p></li>
                            <li><p>To eradicate errors and accidents that take place when the data is collected manually.</p></li>
                        </ol>
                    </div>
                </div>
      
        <footer>
            <p><h2>This is the official website to access your RSDB devices , get data and contact the team incase of any issues
            </h2></p>
            <ul class="footer_nav">
                <li><a href="#">
                        <img class="facebook" src="{{url_for('static', filename='images/svg/facebook-brands.svg')}}"
                            alt="Facebook" width="50px" height="40px" />
                    </a>
                </li>
                <li><a href="#">
                        <img class="instagram" src="{{url_for('static', filename='images/svg/instagram-brands (1).svg')}}"
                            alt="instagram" width="50px" height="40px" />
                    </a>
                </li>
                <li><a href="#">
                        <img class="twitter" src="{{url_for('static', filename='images/svg/twitter-square-brands.svg')}}"
                            alt="twitter" width="50px" height="40px" />
                    </a>
                </li>
                <li><a href="#">
                        <img class="whatsapp" src="{{url_for('static', filename='images/svg/whatsapp-square-brands.svg')}}"
                            alt="whatsapp" width="50px" height="40px" />
                    </a>
                </li>
            </ul>
        </footer>

    </body>