<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
    </head>
    <body>
        <header>
            <div class="heading_text">
                <p>Reach us &#128512;</p>
            </div>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <div class="details">
            <div class="Enoch ">
                <pre><p> Enoch Sem</p>
                    <p> phone: 0554317909</p>
                    <p> github: <a href="#"></a></p>  
                    <p> linkedIn: <a href="#"></a></p>
                    <p> email: <a href="#">enochsem@gmail.com</a></p>
                </pre>
            </div>

            <div class="Ann">
                <pre><p> Ann Opare-Akonor</p>
                    <p> phone: 0265221022</p>
                    <p> github: <a href="#"></a></p>
                    <p> linkedIn: <a href="#"></a></p>
                    <p> email:<a href="#">opareann215@gmail.com</a></p>
                </pre>
                
            </div>
        
        </div>
        <footer>
            <ul class="footer_nav">
                <li><a href="#">
                        <img class="facebook" src="{{url_for('static', filename='images/svg/facebook-brands.svg')}}"
                            alt="Facebook" width="50px" height="40px" />
                    </a>
                </li>
                <li><a href="#">
                        <img class="instagram" src="{{url_for('static', filename='images/svg/instagram-brands (1).svg')}}"
                            alt="instagram" width="50px" height="40px" />
                    </a>
                </li>
                <li><a href="#">
                        <img class="twitter" src="{{url_for('static', filename='images/svg/twitter-square-brands.svg')}}"
                            alt="twitter" width="50px" height="40px" />
                    </a>
                </li>
                <li><a href="#">
                        <img class="whatsapp" src="{{url_for('static', filename='images/svg/whatsapp-square-brands.svg')}}"
                            alt="whatsapp" width="50px" height="40px" />
                    </a>
                </li>
            </ul>
        </footer>
    </body>
