<!DOCTYPE html>
<html>

<head>
    <title>Remote Sensing Drone Boat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/drone.png')}}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
    <!--for slider-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class = "navbar">
                <div class="logo">
                    <div class="logo_image">
                        <img src="{{url_for('static', filename='images/drone.png')}}" alt="drone" height="42px" width="40px">
                    </div>
                    <p class="logo_text">RSDB</p>
                </div>
                <div class="buttons">
                    <div class="login" data-toggle="modal" data-target="#userlogin">
                        <img src="{{url_for('static', filename='images/drone.png')}}" alt="drone" height="15px" width="15px">
                        <a ><strong>Login</strong></a>
                    </div>
                    <div class="register" data-toggle="modal" data-target="#usersignup">
                        <img src="{{url_for('static', filename='images/drone.png')}}" alt="drone" height="15px" width="15px" >
                        <a><strong>Register</strong></a>
                    </div>
                </div>
            </div>
        </header>
        <div class="toptext">
            <h1>Remote Sensing Made Easy</h1>
        </div>
        <div class="shapes">
            
            <div class="shape1">
            </div>
            <div class="shape2">
                <div class="shape22">
                </div>
            </div>
        </div>
        <div class="screenshot">
        </div>
        <br>

        <div class="function_block">
            <h3 class="function_heading">PURPOSE OF RSDB</h3>
            
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>
                
                <!-- The slideshow -->
                <!-- <div class="carousel-inner"> -->
                    <!-- <div class="function-list"></div> -->
                    <div class="carousel-item active">
                        <div class="function">
                            <div class="image">
                                <img src= "{{url_for('static', filename='/images/images (2).jpeg')}}" alt="beaker">
                            </div>
                            <span class="text">
                                To measure some physiochemical properties of water - pH, turbidity,temperature,electrical conductivity - suitable for aquaculture.
                            </span>  
                        </div>          
                    </div>
                    <div class="carousel-item">
                        <div class="function">
                            <span class="text">
                                To provide real-time analysis of the sensor data and recommend appropriate corrective measures.
                            </span>
                            <div class="image">
                                <img src="{{url_for('static', filename='/images/images (1).jpeg')}}" alt="drone" >
                            </div>    
                        </div>        
                    </div>
                    <div class="carousel-item">
                        <div class="function">
                            <div class="image">
                                <img src="{{url_for('static', filename='/images/images (7).jpeg')}}" alt="drone">
                            </div>
                            <span class="text">
                                To be able to carry out water quality analysis at remote locations
                            </span>
                        </div>            
                    </div>
                    <div class="carousel-item">
                        <div class="function">
                            <span class="text">
                                To design a mobile and low cost water quality checker.
                            </span>
                            <div class="image">
                                <img src= "{{url_for('static', filename='/images/images (3).jpeg')}}" alt="drone">
                            </div>
                        </div>
                    </div>
                <!-- </div> -->

            
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev " href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon btn-primary bg-primary w-25 h-75"></span>
                </a>
                <a class="carousel-control-next h-100" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon bg-primary w-25 h-75"></span></a>
            </div>
        </div>
    </div>

    
   


    <!-- page main js -->
    <script src="{{url_for('static', filename = 'js/homepage.js')}}"></script>
    <!-- <script src="../static/js/homepage.js"></script> -->
  <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.4/dist/sweetalert2.all.min.js"></script>
    
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




    <!-- user login Modal -->
    <div class="modal fade" id="userlogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Signin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        <p class="text text-center">Welcome</p>


                        <div class="form-col align-items-center mx-3">

                            <div class="form-group">
                                <label class="" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-user-tie"></i></div>
                                    </div>
                                    <input name="user_id" type="text" class="form-control" id="inlineFormInputGroup"
                                        placeholder="Enter Username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="" for="inlineFormInputGroup">Password</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-lock-alt"></i></div>
                                    </div>
                                    <input name="password" type="password" class="form-control"
                                        id="inlineFormInputGroup" placeholder="Enter Password">
                                </div>
                            </div>

                            <!-- <div class="form-group">
                          <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                            <label class="form-check-label" for="autoSizingCheck">
                              Remember me
                            </label>
                          </div>
                        </div> -->


                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-decline" data-dismiss="modal">Close</button>
                        <input id="signin" name="submit" value="signin" type="submit" class="btn btn-primary">
                        <!-- <a name="submit" value="signin" href="/dashboard" class="btn btn-md btn-primary btn-acknowledge"
                        type="submit">Signin</a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- user singup Modal -->
    <div class="modal fade" id="usersignup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center " id="exampleModalLabel">Signup</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        <p class="text text-center">Welcome </p>


                        <div class="form-col align-items-center mx-3">

                            <div class="form-group">
                                <label class="" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-user-tie"></i></div>
                                    </div>
                                    <input name="user_id" type="text" class="form-control" id="" placeholder="Username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="" for="inlineFormInputGroup">Device ID</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-drone"></i></div>
                                    </div>
                                    <input name="device_id" type="text" class="form-control" id=""
                                        placeholder="Device ID">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="" for="inlineFormInputGroup">Password</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-lock-alt"></i></div>
                                    </div>
                                    <input name="password" type="password" class="form-control"
                                        id="inlineFormInputGroup" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="" for="inlineFormInputGroup"> Confirm Password</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-lock-alt"></i></div>
                                    </div>
                                    <input name="confirm_password" type="password" class="form-control"
                                        id="confirm_password" placeholder="Confirm Password">
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-decline" data-dismiss="modal">Cancel</button>

                            <input name="submit" value="signup" type="submit" class="btn btn-md btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p class="foot">RSDB</p>
        <p class="foot">Copyright 2022 by IOT Devlab</p>
    </footer>

</body>

</html>